[submodule "Gossamer.WebP/libwebp"]
	path = Gossamer.WebP/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "Gossamer.Vma/VulkanMemoryAllocator"]
	path = Gossamer.Vma/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Gossamer.FreeType/freetype"]
	path = Gossamer.FreeType/freetype
	url = https://github.com/freetype/freetype.git
